<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Typography</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/variables.css">
  <link rel="stylesheet" href="../../styles/fonts.css">
  <link rel="stylesheet" href="../../styles/variables.css">
  <link rel="stylesheet" href="../../styles/fonts.css">
  <link rel="stylesheet" href="./Typography.css">
  </head> 
  <body>
    <div class="H0">
    H0
        <div class="H0TTNormsProBold">
            TT Norms Pro Bold, 48 / 56
        </div>
    <div class="H1-Heavy">
    H1-Lite
        <div class="H1HeavyTTNormsPro">
            H1 - Heavy TT Norms Pro Bold, 32 / 36
        </div>
    </div>    
    <div class="H1-Lite">
    H1-Lite
        <div class="H1LiteTTNormsProRegular">
            H1 - Lite TT Norms Pro Regular, 32 / 36 
        </div>
    </div>
    <div class="H2-Heavy">
        H2-Heavy
        <div class="H2HeavyTTNormsProBold"> 
            H2 - Heavy TT Norms Pro Bold, 24 / 28
        </div>
    </div>
    <div class="H2-Lite">
        H2 - Lite
        <div class="H2LiteTTNormsProRеgula">
            H2 - Lite TT Norms Pro Rеgular, 24 / 28 
        </div>
    </div>
    <div class="Headline-Heavy">
        Headline - Heavy
        <div class="HeadlineHeavyTTNormsProDemibold">
            Headline - Heavy TT Norms Pro Demibold, 20 / 28
        </div>
    </div>
    <div class="Headline-Lite">
        Headline - Lite
        <div class="HeadlineLiteTTNormsProRegular">
            Headline - Lite TT Norms Pro Regular, 20 / 28
        </div>
    </div>
    <div class="Body-Heavy">
        Body - Heavy
        <div class="BodyHeavyTTNormsProDemibold">
            Body - Heavy TT Norms Pro Demibold, 16 / 24
        </div>
    </div>
    <div class="Body-Lite"> 
        Body - Lite
        <div class="BodyLiteTTNormsProRegular"> 
            Body - Lite TT Norms Pro Regular, 16 / 24
        </div>
    </div>
    <div class="Subhead">
        Subhead
        <div class="SubheadTTNormsProRegular">
            Subhead TT Norms Pro Regular, 14 / 20
        </div>
    </div>
    <div class="Footnote">
        Footnote
        <div class="FootnoteTTNormsProRegular">
            Footnote TT Norms Pro Regular, 12 / 16
        </div>
    </div>

  </body>