<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/variables.css">
  <link rel="stylesheet" href="../../styles/index.css">
  <link rel="stylesheet" href="./Counter.css">
</head>
<body>
  <div class="row">
    <div class="wrapper">
      <div class="counter counter--blue">
        2
      </div>
    </div>
    <div class="wrapper">
      <div class="counter counter--orange">
        2
      </div>
    </div>
    <div class="wrapper">
      <div class="counter counter--red">
        2
      </div>
    </div>
  </div>
</body>
</html>