<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/variables.css">
  <link rel="stylesheet" href="../../styles/fonts.css">
  <link rel="stylesheet" href="../../styles/variables.css">
  <link rel="stylesheet" href="./List.css">
  </head>
  <body>
    <ul class="list">
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
      <li>Label
        <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="7" stroke="#0A0F14" stroke-width="2"/>
</svg>
 </span>
      </li>
    </ul>
  </body>