:root {
    --grey_255: #fff;
    --grey_250: #F9FBFD;
    --grey_230: #E6EBF0;
    --grey_200: #C8CDD2;
    --grey_180: #B4B9BE;
    --grey_140: #8C9196;
    --grey_10: #0A0F14;
    --aqua: #9ADBE8;
    --alert: #E13264;
    --warning: #FFC800;
}